<!DOCTYPE html>
<html>
<head>
	<title><%= video.name %></title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<style>
		@import url(http://weloveiconfonts.com/api/?family=entypo);
		@import url(https://fonts.googleapis.com/css?family=Muli);
		body {
			background-color:#2F323C;
			color: gray;
			font-family:Muli, sans-serif;
			text-align: center;
		}
		#videoframe {
			margin: auto;
		 }
		 h1 {
			color: white;
			font-size: 2.6em;
		 }
		/* #comments {
			text-align: center;
		
		}
		p {
			margin: auto;
			padding: 3px 3px 3px 3px;
			font-size: 1em;
			background-color: grey;
			border-radius: 5px;
			height: 4vh;
			color: azure;
			left:20%;
			width: 60%;
		} */

		#add_comment_container {
			margin-top: 3vh;
		}

		:after, :before{
		content:"";
		display: block;
		position: absolute;
		}

		.bg{
		background: #46485c;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		left: 50%;
		top: 50%;
		margin: -100px 0px 0px -100px;
		position: absolute;
		z-index: -1
		}

		.lamb{
		width: 48px;
		height: 48px;
		border-radius: 50%;
			background-image: linear-gradient(0deg, transparent 0%,transparent 50%,#E76853 50%, #E76853 100%);
		margin: 40px 0px 0px 88px;
		transform: rotate(45deg);
		}
		.lamb:before{
		width: 16px;
		height: 16px;
		border-radius: 50%;
			background-image: linear-gradient(180deg, transparent 0%,transparent 50%,#F5C44F 50%, #F5C44F 100%);
		margin: 16px 0px 0px 16px;
		}
		.lamb:after{
		width: 16px;
		height: 22px;
		border-radius: 20px 20px 0px 0px;
			background: #E76853;
		margin: -14px 0px 0px 16px;
		}
		.light{
		background: transparent;
		transform: rotate(45deg);
		position: absolute;
		height: 0;
		width: 48px;
		border-bottom: 136px solid #2F323C;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		margin: -44px 0px 0px 0px;
		z-index: -1
		}


		.holder{
		position: absolute;
		width: 2px;
		height: 92px;
		background: #E76853;
		margin: -44px 0px 0px 158px;
		transform: rotate(-30deg);
		box-shadow: 4px 0px 0px 0px #E76853;
		}
		.holder:after{
		width: 2px;
		height: 92px;
		background: #e76853;
		margin: 68px 0px 0px -38px;
		transform: rotate(60deg);
		box-shadow: 4px 0px 0px 0px #e76853;
		}
		.holder:before{
		width: 10px;
		height: 10px;
		background: #2F323C;
		border: 2px solid #e76853;
		border-radius: 50%;
		margin: 84px 0px 0px -6px;
		z-index: 9999;
		}

		#onoff{
		background: #B3C658;
		position: absolute;
		border: 0px;
		border-radius: 50%;
		width: 5px;
		height: 5px;
		cursor: pointer;
		padding: 0px;
		margin: 88px 0px 0px -2px;
		z-index: 9999;
		}

		.foot{
		background: #B3C658;
		position: absolute;
		border: 0px;
		width: 12px;
		height:6px;
		margin: 120px 0px 0px 134px;
		border-radius: 2px 2px 0px 0px;
		}
		.foot:after{
		width: 40px;
		height: 14px;
		border-radius: 50%;
			background-image: linear-gradient(0deg, transparent 0%,transparent 50%,#E76853 50%, #E76853 100%);
		margin: 6px 0px 0px -14px;
		}

		.bg span
		{
		color: #46485C;
		font-weight: bold;
		font-size: 13px;
		position: absolute;
		width: 200px;
		text-align: center;
		margin-top: 170px;
		}

		.bg {
			position: absolute;
			left: 85vw;
		}
		#onoff {
			width: 10px;
			height: 10px;
		}

		p {
	margin: auto;
			padding: 3px 3px 3px 3px;
			font-size: 1em;
			background-color: grey;
			border-radius: 5px;
			height: 4vh;
			color: azure;
			width: 90%;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: gray;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: gray;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: gray;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.box-left {
  position: absolute;
  height: 100px;
  width: 40px;
  background-color: #e74c3c;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50px;
  margin: auto;
  cursor: pointer;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.fa-times {
  font-size: 70px !important;
  margin: 23px;
  color: #fff;
}

.box-right {
  position: absolute;
  height: 100px;
  width: 20px;
  background-color: #e74c3c;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0;
  margin: auto;
  transition: 0.5s;
  cursor: pointer;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.fa-check {
  font-size: 70px !important;
  margin-left: 7px;
  margin-top: 13px;
}

.bar {
  height: 80px;
  width: 0px;
  background-color: lightgray;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 80px;
  right: 0;
  transition: 0.5s;
  overflow: hidden;
}

.cl-bar2 {
  width: 80px;
}

.cl-box2 {
  left: 210px;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:10px;
  margin: 0 0 0 0;
}



/*Button One*/
.button-one {
  padding:10px 15px;
  outline: none;
  float: right;
  position: relative;
  top:-3vh;
  color: white;
  background-color: #FF0000;
  border: none;
  border-radius:5px;
  box-shadow: 0 5px #95a5a6;
}

.button-one:hover{
  background-color: #FF0000;
}

.button-one:active {
  background-color: #FF0000;
  box-shadow: 0 1px #95a5a6;
  transform: translateY(4px);
}

.button-two {
  padding:10px 15px;
  outline: none;
  position: relative;
  top: -1vh;
  left: 3vw;
  color: white;
  font-size: 1em;
  background-color: #fb9a40;
  border: none;
  border-radius:5px;
  box-shadow: 0 5px #95a5a6;
}

.button-two:hover{
  background-color: #fb9a40;
}

.button-two:active {
  background-color: #fb9a40;
  box-shadow: 0 1px #95a5a6;
  transform: translateY(4px);
}

.input-phone{
  margin: 2em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  width: 40vw;
  text-align: left;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}
	</style>
</head>
<body>
<h1><%= video.name %></h1>
<div class="bg" onclick="lights()">
  <div class="lamb"></div>
  <div class="light"></div>
  <div class="holder"><button id="onoff"></button></div>
  <div class="foot"></div>
</div>
<iframe id="videoframe" width="640" height="480" src="<%= video.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- <div id="comments">
	<div>
	<% for(var i = 0; i < video.comments.length; i++) { %>
		<p><strong><%= video.comments[i].username %> </strong>: <%= video.comments[i].text %></p>
		<% if (video.username == video.comments[i].username) { %>
			<button onclick="deleteComment('<%= video.comments[i].text %>')">Delete</button>
		<% } %>	
		<% } %>
	</div>
</div> -->
<br>
<br>
<br>
<br>
<br>
<h2>Comments:</h2>
<section class="comments" id="commentss">
		<% for(var i = 0; i < video.comments.length; i++) { %>
		<article class="comment">
		  <a class="comment-img" href="#non">
			<img src="" alt="" width="50" height="50">
		  </a>
		  <div class="comment-body">
			<div class="text">
					<p><strong><%= video.comments[i].username %> </strong>: <%= video.comments[i].text %></p>
					<% if (video.username == video.comments[i].username) { %>
						<button onclick="deleteComment('<%= video.comments[i].text %>')" class="button-one"><strong>DELETE</strong></button>
					<% } %>	
					
			</div>
		  </div>
		</article>
		<% } %>
	  </section>

<div id="add_comment_container">
<input type="text" name="comment" class="input-phone" id="newComment" placeholder="Enter your comments..">
<button id="addComment" class="button-two" >Comment</button>
</div>
<script type="text/javascript">
	$(document).ready(function() {

$(".box").hover(function() {
  $(".box-right").toggleClass('cl-box2');
  $(".bar").toggleClass('cl-bar2');
});

$(".bar").click(function() {
  alert("Deleted");
});
});
	let link = encodeURIComponent("<%= video.link %>");

	function addComment() {
		let newComment = document.getElementById("newComment");
		fetch('/student/addComment/' + link, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				text: newComment.value
			})
		}).then((result) => result.json()).then((res) => {
			if(!res.success) alert("Couldn't add comment");
			else {
				let div = document.createElement('div');
				let p = document.createElement('p');
				p.innerHTML = res.username + ': ' + res.text;
				div.appendChild(p);
				let button = document.createElement('button');
				button.setAttribute('class', 'button-one');
				button.setAttribute('onclick', "deleteComment('+"+res.text+"')");
				button.innerHTML = "Delete";
				div.appendChild(button);
				document.getElementById('commentss').appendChild(div);
				newComment.value = "";
			}
		});
	}

	function deleteComment(comment) {
		console.log(comment);
		fetch('/student/deleteComment/' + link, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				text: comment	
			})
		}).then((response) => response.json()).then((res) => {
			if(!res.success) alert('Could not delete');
			else {
				let div = event.target.parentElement;
				div.style.display = "none";
				// figure out this @grassknoted
				/*
				let div = event.target.parentElement;
				div.parentElement.removeChild(div);
				*/
			}
		});
	}

	let addCommentBtn = document.getElementById('addComment');
	addCommentBtn.addEventListener('click', addComment, false);

	function lights() {
  $(".light").toggle();
}
</script>
</body>
</html>